@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #ededed;
}

/* Main Container of Landing Page */

.main {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ededed;
  overflow: hidden;
}

/* Header */

.header {
  width: 100%;
  background-color: #b90e0a;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 2px solid #ededed;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 0px 60px;
}

.header__logo {
  font-weight: 700;
  font-size: 32px;
  color: white;
  font-style: italic;
  text-decoration: none;
  letter-spacing: 3px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-align: center;
}

.header__links {
  display: inline;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

/* Hero Section */

.hero {
  height: 100vh;
  padding: 0 60px;
  position: relative;
}

.image-wrapper {
  height: 70%;
  max-width: 320px;
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: 5;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: #ededed;
  opacity: 1;
}

.message-wrapper {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 10;
}

.hero__message {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.6;
}

.hero__message--tag {
  color: #b90e0a;
}

.line-01 .letter,
.line-02 .letter,
.line-03 .letter {
  display: inline-block;
  line-height: 1.6;
}

.hero__image {
  width: 100%;
  height: 100%;
}

.marketing-wrapper {
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: 20px;
  color: #0e1011;
  font-weight: 300;
}

.hero__button {
  margin-top: 80px;
  outline: 0;
  border: 0;
  color: #ededed;
  background-color: #b90e0a;
  padding: 24px 48px;
  font-size: 20px;
  cursor: pointer;
}

.hero__span {
  font-weight: 600;
  color: #b90e0a;
}

.mission {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b90e0a;
}

.mission-wrapper {
  position: relative;
  padding: 100px;
}

.mission__span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
}

.mission__message {
  font-size: 64px;
  font-weight: 700;
  color: white;
  line-height: 1.8;
}


/* Feature Section */
.features{
  background-color: #0e1011;
}

.features__header{
  font-size: 64px;
  font-weight: 600;
  color: #b90e0a;
  text-align: center;
}

.spacer{
  height: 100px;
}

.features__image{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.theme-bg{
  background-color: #0e1011;
}

.features__img{
  height: 100%;
  width: 100%;
}

.feature-title{
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.feature__span{
  color: #b90e0a;
}

.feature-content{
  display: flex;
  flex-direction: column;
}

.inventory-content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-para{
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-top: 50px;
}

.feature-benefits{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.benefit-icon{
  height: 40px;
}

.benefit-para{
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.benefit-box{
  background-color: #b90e0a;
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-half{
  max-width: 920px;
}

.staffing-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 40px;
}

.staffing-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefit-wrapper{
  margin-top: 80px;
}

.benefit-slice{
  display: flex;
  gap: 16px;
  padding-bottom: 40px;
}

.vendor-ledger-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 40px;
}

.transaction-content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.pos-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 40px;
}

.pos-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Report Section */

.report__header{
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.data-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
}

.report__percentage{
  font-size: 24px;
  font-weight: 900;
  color: #b90e0a;
  margin-bottom: 40px;
}

.report__method{
  font-size: 20px;
  font-weight: 500;
  color: #b90e0a;
  margin-bottom: 20px;
}

.report__detail{
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-bottom: 40px;
}

.report-publisher{
  margin-top: 20px;
}

.report__author{
  font-size: 24px;
  font-weight: 400;
  color: #b90e0a;
}

.report__text{
  font-size: 16px;
  font-weight: 400;
  color: white;
}

/* Text Scroller */
.text-roller {
  background-color: #b90e0a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  overflow: hidden;
  z-index: 12;
}

@keyframes roll-the-message {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.roller__text {
  font-size: 32px;
  font-weight: 200;
  color: white;
  white-space: nowrap;
  mix-blend-mode: normal !important;
  animation: roll-the-message 20s linear infinite;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.impressions {
  padding: 60px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.impressions__header {
  font-size: 64px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.impressions__span{
  color:#b90e0a;
}



.impressions__button {
  height: 120px;
  padding-top: 10px;
}

.impressions__message {
  font-size: 24px;
  padding-top: 40px;
  text-align: center;
  margin: 50px 0;
}

.impressions__rating-text {
  font-weight: 600;
  font-size: 14px;
}

.impressions__text {
  font-weight: 400;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}
.rating-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.impressions__comment {
  width: 400px;
  font-size: 24px;
}

.impressions__name {
  color: #b90e0a;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 400;
}

.impressions__profession {
  color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  font-weight: 400;
}

.impressions-review-wrapper {
  position: relative;
  max-width: 600px;
}

.impressions-container {
  padding: 80px;
  border: 0.6px solid gray;
  border-radius: 20px;
  position: relative;
}

.button-wrapper{
  margin-top: 50px;
}

.quote {
  font-family: customFont;
  font-size: 80px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #b90e0a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #b90e0a !important;
}

.swiper {
  margin: 0 !important;
}

/* FAQ Section */

.faq {
  height: 100%;
  position: relative;
  padding: 60px;
  position: relative;
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.faq-content-wrapper {
  display: flex;
  flex-direction: column;
}

.faq__header {
  font-size: 64px;
  font-weight: 600;
  color: #b90e0a;
  text-align: center;
}

.faq__tag {
  color: #0e1011;
}

.faq__para {
  margin-top: 60px;
  text-align: center;
}

.faq__para--tag {
  color: #b90e0a;
  font-weight: 600;
}

.faq__button {
  padding: 16px 48px;
  background-color: #b90e0a;
  color: white;
  outline: none;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}

.accordion-wrapper {
  width: 800px;
}

.accordion .accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #b90e0a;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #0e1011;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #b90e0a;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #b90e0a;
  border: 1px solid #b90e0a;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: #b90e0a;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

/* Pricing */

.pricing {
  padding: 60px;
  position: relative;
}

.pricing__header {
  font-size: 64px;
  font-weight: 600;
  color: #b90e0a;
  text-align: center;
}

.pricing__para{
  font-size: 20px;
  color: black;
  font-weight: 400;
  text-align: center;
  margin-top: 60px;
}

.pricing__para--tag{
  font-weight: 600;
  color: #b90e0a;
}

.pricing-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin-top: 80px;
}

.pricing-grid-item{
  border: 1px solid rgba(14, 16, 17, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-title-wrapper{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 24px;
  padding: 16px;
}

.pricing-plan-title{
  font-size: 16px;
  font-weight: 700;
  color: #b90e0a;
}

.pricing-plan-detail{
  max-width: 205px;
  font-size: 14px;
  margin-top: 8px;
}

.pricing-display-box{
  max-height: 110px;
  text-align: center;
  color: #b90e0a;
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 24px;
  font-weight: 600;
  border-top: 1px solid rgba(14, 16, 17, 0.4);
  border-bottom: 1px solid rgba(14, 16, 17, 0.4);
}

.pricing-plan-list{
  margin: 0px 40px;
}

.pricing-list-item{
  margin-top: 14px;
  max-width: 260px;
}

.pricing-tag{
  font-weight: 600;
  color: #b90e0a;
}

.pricing-note{
  margin: 32px 16px 16px 16px;
}

.note-text{
  color: rgba(14, 16, 17, 0.6);
  font-weight: 600;
  margin-top: 12px;
    max-width: 280px;
}

.pricing-button-wrapper{
  width: 100%;
  padding: 16px;
}

.pricing-download-button{
  outline: none;
  border: 1px solid #b90e0a;
  border-radius: 6px;
  text-align: center;
  width: inherit;
  padding: 16px 0;
  color: #b90e0a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.pricing-contact-button{
  outline: none;
  border: none;
  border-radius: 6px;
  text-align: center;
  width: inherit;
  padding: 16px 0;
  color: white;
  background-color: #b90e0a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.pricing-compare__header{
  color: black;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  margin: 100px 0;
}

.compare-chart{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: #b90e0a;
  color: white;
}

.compare-chart__heading{
  font-size: 32px;
  font-weight: 400;
  padding: 16px;
}

.feature-group__header{
  margin-top: 40px;
  background-color: #0e1011;
  color: white;
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
}

.feature-slice{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: azure;
  border-bottom: 1px solid gray;
}

.feature-slice__title{
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  color: black;
}

.feature-slice__icon{
  color: #b90e0a;
  height: 16px;
  width: 16px;
}

.accent-light{
  background-color: whitesmoke;
}


/* Tablet Demo */
.tablet{
  width: 100%;
  height: 100%;
  padding: 100px;
  background-color: #0e1011;
  position: relative;
}

.tablet-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1440px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
}

.tablet__header{
  font-size: 48px;
  font-weight: 400;
  color: #ededed;
}

.tablet__detail{
  font-size: 20px;
  font-weight: 300;
  color: #ededed;
  max-width: 400px;
  line-height: 2;
}

.tablet-image{
 height: 620px;
}

.tablet__image{
  height: inherit;
  width: inherit;
  object-fit: contain;

}

/* Footer */

.footer {
  padding: 100px;
  position: relative;
  background-color: #0e1011;
  margin: 0 auto;
}

.footer__header {
  font-size: 64px;
  font-weight: 600;
  color: white;
}

.footer__tag {
  color: #b90e0a;
}

.footer-main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-content-wrapper {
  margin-top: 100px;
}
.footer-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
  row-gap: 40px;
}

.footer__title {
  font-size: 32px;
  font-weight: 200;
  color: white;
}

.footer__text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
}

.footer__mail {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  cursor: pointer;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
}

.footer-bottom {
  margin-top: 80px;
}

.footer__message--tag {
  text-decoration: none;
  color: #b90e0a;
  font-weight: 600;
  font-size: 20px;
}

.footer__message {
  font-size: 16px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer-form-wrapper {
  padding: 0px 80px;
}

.footer__label {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin-top: 16px;
}

.form__tag {
  color: #b90e0a;
  font-size: 32px;
  font-weight: 400;
}

input {
  width: 350px;
  padding: 4px 0;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  background: transparent;
  margin-bottom: 4px;
  color: white;
  font-size: 16px;
}

.form__button {
  width: 350px;
  background-color: #b90e0a;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  outline: none;
  border: none;
  padding: 16px 0;
  margin-top: 20px;
  cursor: pointer;
}

.footer-container {
  margin: 0 auto;
  max-width: 1440px;
  background-color: transparent;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.footer__input.error {
  border-color: red;
}
